
:host {
  .container {
    display: flex;
    align-items: center;
    margin-bottom: $spacer;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    height: $checkmark-box-size;
    width: $checkmark-box-size;
    background-color: $checkmark-box-bg;
    border: $checkmark-box-border;
    border-radius: 50%;
    margin-right: $spacer;
    position: relative;
  }

  .container input:checked ~ .checkmark {
    background-color: $checkmark-box-bg;
  }

  .container input:focus ~ .checkmark {
    box-shadow: 0 0 0 2px $input-focus-outline-color;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .container input:checked ~ .checkmark:after {
    display: block;
  }

  .container .checkmark:after {
    top: ($checkmark-box-size - $checkmark-size) / 2;
    left: ($checkmark-box-size - $checkmark-size) / 2;
    width: $checkmark-size;
    height: $checkmark-size;
    border-radius: 50%;
    background: $checkmark-bg;
  }

  .disabled {
    .checkmark {
      border-color: $input-disabled-color;

      &:after {
        background-color: $input-disabled-color;
      }
    }
  }
}
