// Card Title
// --------------------------------------------------

/**
* @prop --card-font-size-xs: responsive base font size in breakpoint xs (<576px) - default inherits --sen-font-size-xs or `11px`
* @prop --card-font-size-sm: responsive base font size in breakpoint sm (<768px) - default inherits --sen-font-size-sm or `11px`
* @prop --card-font-size-md: responsive base font size in breakpoint md (<992px) - default inherits --sen-font-size-md or `13px`
* @prop --card-font-size-lg: responsive base font size in breakpoint lg (<1200px) - default inherits --sen-font-size-lg or `16px`
* @prop --card-font-size-xl: responsive base font size in breakpoint xl (>=1200px) - default inherits --sen-font-size-xl or `16px`
*/

:host {
  @include global-var-inheritance($prefix: 'card', $only: (font-size-base));
  font-size: var(--card-font-size-base, #{$font-size-md});
  flex: 0 0 100%;

  h1 {
    font-weight: $font-weight-bold;
    font-size: 2em;
  }
}

