:host {
  display: block;
  padding: $fieldset-padding;

  border: $fieldset-border-width solid $fieldset-border-color;
  border-radius: $fieldset-border-radius;
  position: relative;
  margin-bottom: $spacer;

  legend {
    background-color: $white;
    position: relative;
    display: inline-block;
    font-weight: $font-weight-bold;
    color: $fieldset-legend-color;
    left: 0;
    padding: $fieldset-padding $fieldset-padding 0 0;
    top: -2 * $fieldset-padding - $fieldset-border-width / 2;
  }
}
