:host {
  display: block;
  padding: $alert-padding;
  border: $alert-border-width solid transparent;
  margin-bottom: $spacer;
  
  .alert {
    &-title {
      font-weight: $font-weight-bold;
      margin-bottom: $spacer/2;
    }
    @each $color, $value in $theme-colors {
      &-#{$color} {
        background: lighten($value, 35%);
      }
    }
  }
}
