:host {
  display: inline-block;
  /**
  * @prop --border-left-radius: Border radius of left bottom and top edge - default `3px`
  */
  --border-left-radius: #{$btn-border-radius};
  /**
  * @prop --border-right-radius: Border radius of right bottom and top edge - default `3px`
  */
  --border-right-radius: #{$btn-border-radius};

  button {
    color: $white;
    background: var(--btn-primary-bg, $primary);
    border-radius: $btn-border-radius;
    border-width: 0;
    padding: $btn-padding-y $btn-padding-x;
    font-size: $font-size-base;
    font-family: $font-family-base;
    border-top-left-radius: var(--border-left-radius);
    border-bottom-left-radius: var(--border-left-radius);
    border-top-right-radius: var(--border-right-radius);
    border-bottom-right-radius: var(--border-right-radius);

    &[disabled] {
      opacity: 0.4;
    }
  }

  .btn {
    @each $name, $btn-color in $btn-colors {
      &-#{$name} {
        background: $btn-color;

      }
    }
  }
}
