
/**
* @prop --border-left-radius: Border radius of left bottom and top edge - default `3px`
* @prop --border-right-radius: Border radius of right bottom and top edge - default `3px`
*
* @prop --button-font-family-base: the font family - default inherits --sen-font-family-base or `"Source Sans Pro", Helvetica, sans-serif`
* @prop --button-font-size-xs: responsive base font size in breakpoint xs (<576px) - default inherits --sen-font-size-xs or `11px`
* @prop --button-font-size-sm: responsive base font size in breakpoint sm (<768px) - default inherits --sen-font-size-sm or `11px`
* @prop --button-font-size-md: responsive base font size in breakpoint md (<992px) - default inherits --sen-font-size-md or `13px`
* @prop --button-font-size-lg: responsive base font size in breakpoint lg (<1200px) - default inherits --sen-font-size-lg or `16px`
* @prop --button-font-size-xl: responsive base font size in breakpoint xl (>=1200px) - default inherits --sen-font-size-xl or `16px`
*/

:host {
  @include global-var-inheritance($prefix: 'button', $only: (font-size-base, font-family-base));
  font-size: var(--button-font-size-base, #{$font-size-md});
  display: inline-block;

  --border-left-radius: #{$btn-border-radius};
  --border-right-radius: #{$btn-border-radius};

  button {
    color: $white;
    background: var(--btn-primary-bg, $primary);
    border-radius: $btn-border-radius;
    border-width: 0;
    padding: $btn-padding-y $btn-padding-x;
    font-size: 1em;
    font-family: var(--button-font-family-base, #{$font-family});
    border-top-left-radius: var(--border-left-radius);
    border-bottom-left-radius: var(--border-left-radius);
    border-top-right-radius: var(--border-right-radius);
    border-bottom-right-radius: var(--border-right-radius);

    &[disabled] {
      opacity: 0.4;
    }
  }

  .btn {
    @each $name, $btn-color in $btn-colors {
      &-#{$name} {
        background: $btn-color;

      }
    }
  }
}
