:host {
  display: inline-block;

  .container {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
  }

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    height: $checkmark-box-size;
    width: $checkmark-box-size;
    background-color: $checkmark-box-bg;
    border: $checkmark-box-border;
    margin-right: $spacer;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  input:checked ~ .checkmark {
    background-color: $checkmark-box-bg;
  }

  input:checked ~ .checkmark:after {
    display: block;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    $checkmark-small-side-width: $checkmark-size / 2;
    $sin-45: 0.85090352453;

    width: $checkmark-small-side-width;
    height: $checkmark-size;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    border-color: $checkmark-bg;
    border: solid $checkmark-bg;
    border-width: 0 $checkmark-width $checkmark-width 0;
    transform: rotate(45deg);
    margin-bottom: $checkmark-small-side-width * $sin-45;
  }

  .disabled {
    .checkmark {
      border-color: $input-disabled-color;

      &:after {
        border-color: $input-disabled-color;
      }
    }
  }
}
