@import "./functions";
@import "./variables/colors";
@import "./variables/breakpoints";
@import "./variables/font-text";

$body-bg: $white !default;
$link-color: $primary !default;
$text-color: $black;

$spacer: 8px !default;

$border-width: 0 !default;
$border-color: $gray-300;
$border-radius: 0 !default;

$btn-padding-y: $spacer / 2 !default;
$btn-padding-x: $spacer !default;
$btn-border-width: $border-width;
$btn-border-radius: 3px;
$btn-color-names: (
  "primary", "secondary", "success", "warning", "danger", "info"
) !default;
$btn-colors: map-pick-keys($named-colors, $btn-color-names) !default;

$input-border-width: $border-width !default;
$input-border-color: $gray-200 !default;
$input-padding-y: $btn-padding-y !default;
$input-padding-x: $spacer * 0.8 !default;
$input-line-height: 1em;
$input-background: $gray-200 !default;

$fieldset-border-color: $gray-100 !default;
$fieldset-border-radius: $border-radius !default;
$fieldset-border-width: 2px !default;
$fieldset-padding: $spacer - $fieldset-border-width !default;
$fieldset-legend-color: $gray-400 !default;

$alert-padding: $spacer !default;
$alert-border-width: 2px !default;

// Tables
$table-cell-padding-y:        .4rem !default;
$table-cell-padding-x:        .6rem !default;
$table-cell-vertical-align:   top !default;

$table-header-bg: $gray-100 !default;

$table-bg:                    transparent !default;
$table-border-width:          $border-width !default;
$table-border-color:          $border-color !default;

$table-row-active-bg: $gray-200 !default;

$menu-bg: $gray-800;

$grid-column-padding: 5px;

$typeahead-bg: $gray-700;
$select-item-bg: $white;
$select-item-text-color: $text-color;
$select-border-color: $gray-200;
$select-item-selected-bg: lighten($primary, 50);

$highlight-color: $primary;

$menu-item-color: $white;
$menu-item-active-color: $gray-300;
