$white: #fff !default;
$gray-100: #F8F6F6 !default;
$gray-200: #E9E6E6 !default;
$gray-300: #DEDCDC !default;
$gray-400: #CECBCB !default;
$gray-500: #ADAcAc !default;
$gray-600: #6C6A6A !default;
$gray-700: #494444 !default;
$gray-800: #343030 !default;
$gray-900: #211010 !default;
$black: #211010 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900,
  ),
  $grays
);

$blue: #3B5F97 !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #ea3c20 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$text-color: $black;
$font-family: "Source Sans Pro", Helvetica, sans-serif;
$font-family-monospace: "Consolas", monospace;

$body-bg: $white !default;
$link-color: $primary !default;

$spacer: 8px !default;

$border-width: 0 !default;
$border-color: $gray-300;
$border-radius: 0 !default;

$font-family-base: var(--sen-font-family, $font-family) !default;
$font-family-code: var(--sen-font-monospace, $font-family-monospace) !default;

$font-color-base: $black !default;
$font-weight-light: 300 !default;
$font-weight-regular: 500 !default;
$font-weight-bold: 700 !default;
$font-weights: () !default;
$font-weights: map-merge(
  (
    light: $font-weight-light,
    regular: $font-weight-regular,
    bold: $font-weight-bold
  ),
  $font-weights
);

$font-size-base: 13px !default; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * 0.875 !default;
$font-size-lg: $font-size-base * 1.25 !default;
// factor applied for each vieport (media query) `sm`, `md`, `lg`
$text-element-factor-p: 1 !default;
$text-element-factor-h1: 2.6 !default;
$text-element-factor-h2: 2.1 !default;
$text-element-factor-h3: 1.8 !default;
$text-element-factor-h4: 1.4 !default;
$text-element-factor-h5: 1.2 !default;
$text-element-factor-h6: 1.1 !default;
$text-element-size-factors: (
 p: $text-element-factor-p,
 h1: $text-element-factor-h1,
 h2: $text-element-factor-h2,
 h3: $text-element-factor-h3,
 h4: $text-element-factor-h4,
 h5: $text-element-factor-h5,
 h6: $text-element-factor-h6
);


$btn-padding-y: $spacer / 2 !default;
$btn-padding-x: $spacer !default;
$btn-border-width: $border-width;
$btn-border-radius: 3px;

$input-border-width: $border-width !default;
$input-border-color: $gray-200 !default;
$input-padding-y: $btn-padding-y !default;
$input-padding-x: $spacer * 0.8 !default;
$input-line-height: 1em;
$input-background: $gray-200 !default;

$fieldset-border-color: $gray-100 !default;
$fieldset-border-radius: $border-radius !default;
$fieldset-border-width: 2px !default;
$fieldset-padding: $spacer - $fieldset-border-width !default;
$fieldset-legend-color: $gray-400 !default;

$alert-padding: $spacer !default;
$alert-border-width: 2px !default;

// Tables
$table-cell-padding-y:        .4rem !default;
$table-cell-padding-x:        .6rem !default;
$table-cell-vertical-align:   top !default;

$table-header-bg: $gray-100 !default;

$table-bg:                    transparent !default;
$table-border-width:          $border-width !default;
$table-border-color:          $border-color !default;

$table-row-active-bg: $gray-200 !default;

$menu-bg: $gray-800;

// The minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries
$screen-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

$grid-column-padding: 5px;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
) !default;

$typeahead-bg: $gray-700;
$select-item-bg: $white;
$select-item-text-color: $text-color;
$select-border-color: $gray-200;
$select-item-selected-bg: lighten($primary, 50);

$highlight-color: $primary;

$menu-item-color: $white;
$menu-item-active-color: $gray-300;
